* {
  box-sizing: border-box; }

.board {
  margin: 20px auto;
  max-width: 500px; }
  .board .space {
    border: 1px double black;
    padding: 5px;
    width: 130px;
    height: 130px;
    float: left;
    background: lightgrey;
    transition: background 1s ease; }
  .board .red {
    background: red; }
  .board .blue {
    background: blue; }
