@mixin square-box($size) {
    width: $size;
    height: $size;
    float: left;
}

@mixin background-transition ($time) {
    background: lightgrey;
    transition: background $time ease;
}

* {
    box-sizing: border-box;
}

.board {
    margin: 20px auto;
    max-width: 500px;

    .space {
        border: 1px double black;
        padding: 5px;
        @include square-box(130px);
        @include background-transition(0.5s);
    }

    .red {
        background: red;
    }

    .blue {
        background: blue;
    }

}

